*{
  margin: 0;
  padding: 0;
  font-family: 'Quantico', sans-serif;
}

/*Background stuff*/
html {
  background: url("images/home.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: #00b2d3;
  filter: invert(1);
}

/*Title for Home*/
h1 {
  font-size: 40px;
}
/*Sub Title for Home*/
h2 {
  font-size: 15px;
}

/*Stroke for titles*/
h1, h2 {
  color: #e70013;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*To center the download button*/
p#download-button {
  display: flex;
  align-content: center;
}

/*Shrink the download button*/
#download {
  height: 100px;
}

/*size and styling for all buttons*/
button {
  font-size: 20px;
  background-color: #e70013;
  color: white;
  border-style: solid;
  border-color:white;
  border-width: 2px;
  margin: 5px;
}

/*Put the canvas and download button in the center*/
canvas, a {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*To give the canvas a border*/
canvas {
  border-style: solid;
  border-width: 5px;
  border-color: #e70013;
}

/*Put the titles in the center of the screen*/
#home {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

/*Spacing from the top so the fixed buttons on top don't overlap*/
#body {
  margin-top: 100px;
}

/*Fixed buttons on top*/
#options, #showcase-buttons {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/*Set the image height due to varied amiibo image sizes*/
img.amiiboImg {
  height: 100px;
  margin: 5px;
}

/*Border and background for amiibos and game series buttons*/
#results, #category-group {
  border-style: solid;
  border-color: red;
  border-width: 5px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #00859c;
  width: 75%;
}

/*spaces out the amiibos so they look nice*/
.results-flex {
  display: flex;
}

/*background for the amiibos themselves*/
.js-amiibos {
  margin: 10px;
  border-style: solid;
  border-color: #e70013;
  border-width: 2px;
  background-color: #0a009c;
}

/*Mark for the selected amiibos*/
.selected {
  background-color: #009c17;
}

/*To hide most of our loaded stuff*/
.hidden {
  display: none;
}

/*Flexbox stuff*/
.group {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.item {
  flex: 1;
}

/*Changes for smaller devices*/
@media only screen and (min-width: 800px) {
  button {
    font-size: 30px;
  }

  h1, h2 {
  
  color: #e70013;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 30px;
  }
}
